<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<meta charset="ISO-8859-1">
<title>School Web Admin</title>
<link rel="stylesheet" th:href="@{/css/AdminStyle.css}">

</head>
<body>

<section class="admin_title" id="shop" style="margin-top: 9%;margin-left: 45%;">
<h2>Admin Page</h2>
</section>

<div class="admin__wrapper">
	<div class="admin__contanier">
	<div class="admin__leftside">
		<div class="admin__form__field">
			<div class="admin__form__field__label">
				<label > Select Class</label>
			</div>
			<div class="admin__field__input">
				<select name="studentclass" id="studClass">
					  <option value="select">Select Class</option>
					  <option value="class1">1st Standard</option>
					  <option value="class2">2nd Standard</option>
					  <option value="class3">3rd Standard</option>
					  <option value="class4">4th Standard</option>
					  <option value="class5">5th Standard</option>
					  <option value="class6">6th Standard</option>
					  <option value="class7">7th Standard</option>
					  <option value="class8">8th Standard</option>
					  <option value="class9">9th Standard</option>
					  <option value="class10">10th Standard</option>
				</select>
			</div>	
		</div>
			
		<div class="admin__form__field">
				<div class="admin__form__field__label">
					<label > Select Chapter</label>
				</div>
				<div class="admin__field__input">
					<select name="chaptername" id="chapterName">
					  <option value="select">Select Chapter</option>
					  <option value="chapter1">Chapter 1</option>
					  <option value="chapter2">Chapter 2</option>
					  <option value="chapter3">Chapter 3</option>
					  <option value="chapter4">Chapter 4</option>
					  <option value="chapter5">Chapter 5</option>
					  <option value="chapter6">Chapter 6</option>
					  <option value="chapter7">Chapter 7</option>
					  <option value="chapter8">Chapter 8</option>
					  <option value="chapter9">Chapter 9</option>
					  <option value="chapter10">Chapter 10</option>
					</select>
				</div>
		</div>

</div>


<div class="admin__rightside">
<div class="admin__form__field">
				<div class="admin__form__field__label">
					<label > Select Lesson</label>
				</div>
				
				<div class="admin__field__input">
					<select name="lessonname" id="lesson">
					  <option value="select">Select Lesson</option>
					  <option value="lesson1">Lesson 1</option>
					  <option value="lesson2">Lesson 2</option>
					  <option value="lesson3">Lesson 3</option>
					  <option value="lesson4">Lesson 4</option>
					  <option value="lesson5">Lesson 5</option>
					  <option value="lesson6">Lesson 6</option>
					  <option value="lesson7">Lesson 7</option>
					  <option value="lesson8">Lesson 8</option>
					  <option value="lesson9">Lesson 9</option>
					  <option value="lesson10">Lesson 10</option>
					</select>
				</div>
</div>
		<div class="admin__form__field">
				<div class="admin__form__field__label">
					<label >Topic Name</label>
				</div>
				<div class="admin__field__input">	
						<input type="text" id="topic" name="topicname">
				</div>
		</div>


<button type="button" class="admin__submit__btn" onclick="saveStudentAdminVal()" id="saveadmin">Submit</button>
<div class="admin__user__link">
<a th:href="@{'/userpage/'}" class="admin__user__link__click">For User</a>
</div>
</div>
</div>
</div>

<br><br>
</body>
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
<script th:src="@{/js/jquery.slicknav.js}"></script>
<script th:src="@{/js/owl.carousel.min.js}"></script>
<script th:src="@{/js/jquery.nice-select.min.js}"></script>
<script th:src="@{/js/mixitup.min.js}"></script>
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/topfunction.js}"></script>
<script th:src="@{/js/studentadmin.js}"></script>
</html>